/*/
 * Custom CSS
 * -----------------------------------------------------------------------------
/*/

.topbar .topbar-left {
	text-align: left !important;
	border-bottom: solid 1px #ebebeb;
}

.side-menu {
	position: absolute !important;
	padding-bottom: 64px !important;
}

#sidebar-menu {
	margin-top: 16px;
}

.logout-item {
	position: absolute !important;
	background-color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	a {
		display: block;
		padding: 24px 30px;
	}
}

.footer {
	padding-left: 24px;
	padding-right: 24px;
}

.user-profile {
	display: block;
	border-radius: 50%;
	border: solid 1px #6ab058;
	width: 40px;
	height: 40px;
	overflow: hidden;
	&__el {
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}

.login-logo,
.dashboard-logo {
	display: block;
}

.dashboard-logo {
	margin: 16px 20px;
}

.login-logo img {
	height: 68px;
	display: block;
	margin: 0 auto;
}

.dashboard-logo img {
	height: 40px;
	display: block;
}

.side-menu-dropdown a {
	padding-left: 58px !important;
	position: relative;
}

.side-menu-dropdown a::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 42px;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #435966;
}

.side-menu-dropdown .active a::before {
	background-color: #6ab058;
}

.wg-db {
	font-size: 0;
	&__icon,
	&__info {
		display: inline-block;
		vertical-align: middle;
	}
	&__icon {
		font-size: 24px;
		height: 56px;
		width: 56px;
		border-radius: 8px;
		background-color: transparent;
		position: relative;
		margin-right: 16px;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 2px;
	}
	&__desc {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: bold;
		color: #98a6ad;
	}
	&__bg-success {
		background-color: rgba(95, 190, 170, 0.3);
		border-color: rgba(95, 190, 170, 0.4);
		color: #5fbeaa;
	}
	&__bg-info {
		background-color: rgba(52, 211, 235, 0.2);
		border-color: rgba(52, 211, 235, 0.3);
		color: #35b8e0;
	}
	&__bg-warning {
		background-color: rgba(255, 189, 74, 0.2);
		border-color: rgba(255, 189, 74, 0.3);
		color: #f9c851;
	}
	&__bg-danger {
		background-color: rgba(240, 80, 80, 0.2);
		border-color: rgba(240, 80, 80, 0.3);
		color: #ff5b5b;
	}
	&__bg-purple {
		background-color: rgba(91, 105, 188, 0.2);
		border-color: rgba(91, 105, 188, 0.3);
		color: #5b69bc;
	}
	&__text-success {
		color: #5fbeaa;
	}
	&__text-info {
		color: #35b8e0;
	}
	&__text-warning {
		color: #f9c851;
	}
	&__text-danger {
		color: #ff5b5b;
	}
}

@media only screen and (max-width: 991.98px) {
	#wrapper.enlarged .topbar .topbar-left,
	.topbar .topbar-left {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 232px !important;
	}
}

@media (max-width: 767px) {
	.user-profile {
		display: none;
	}

	.side-menu {
		padding-top: 0;
	}
}

@media only screen and (max-width: 575.86px) {
	.side-menu {
		display: none;
	}

	.forced .side-menu {
		display: block;
	}
}
