/*/
 * Custom CSS
 * -----------------------------------------------------------------------------
/*/

.topbar .topbar-left {
	text-align: left !important;
	border-bottom: solid 1px #ebebeb;
}

.side-menu {
	position: absolute !important;
	padding-bottom: 64px !important;
}

#sidebar-menu {
	margin-top: 16px;
}

.btn-logout {
	position: absolute !important;
	background-color: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	button {
		border: none;
		outline: none;
		background-color: transparent;
		display: block;
		padding: 24px 30px;
		text-align-last: left;
	}
	i {
		margin-right: 12px;
	}
}

.footer {
	padding-left: 24px;
	padding-right: 24px;
}

.user-profile {
	display: block;
	border-radius: 50%;
	border: solid 1px $primary;
	width: 40px;
	height: 40px;
	overflow: hidden;
	&__el {
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}

.user-avatar {
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
	&__img {
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}

.login-logo,
.dashboard-logo {
	display: block;
}

.dashboard-logo img,
.login-logo img {
	height: 40px;
	display: block;
}

.dashboard-logo {
	margin: 16px 20px;
}

.login-logo img {
	margin: 0 auto;
}

.side-menu-dropdown a {
	padding-left: 58px !important;
	position: relative;
}

.side-menu-dropdown a::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 42px;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #435966;
}

.side-menu-dropdown .active a::before {
	background-color: $primary;
}

.wg-db {
	font-size: 0;
	&__icon,
	&__info {
		display: inline-block;
		vertical-align: middle;
	}
	&__icon {
		font-size: 24px;
		height: 56px;
		width: 56px;
		border-radius: 8px;
		background-color: transparent;
		position: relative;
		margin-right: 16px;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 2px;
	}
	&__desc {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: bold;
		color: #98a6ad;
	}
	&__bg-success {
		background-color: rgba(95, 190, 170, 0.3);
		border-color: rgba(95, 190, 170, 0.4);
		color: #5fbeaa;
	}
	&__bg-info {
		background-color: rgba(52, 211, 235, 0.2);
		border-color: rgba(52, 211, 235, 0.3);
		color: #35b8e0;
	}
	&__bg-warning {
		background-color: rgba(255, 189, 74, 0.2);
		border-color: rgba(255, 189, 74, 0.3);
		color: #f9c851;
	}
	&__bg-danger {
		background-color: rgba(240, 80, 80, 0.2);
		border-color: rgba(240, 80, 80, 0.3);
		color: #ff5b5b;
	}
	&__bg-purple {
		background-color: rgba(91, 105, 188, 0.2);
		border-color: rgba(91, 105, 188, 0.3);
		color: #5b69bc;
	}
	&__text-success {
		color: #5fbeaa;
	}
	&__text-info {
		color: #35b8e0;
	}
	&__text-warning {
		color: #f9c851;
	}
	&__text-danger {
		color: #ff5b5b;
	}
}

* .c-primary {
	color: $primary;
}

.btn-icon {
	padding: 4px 8px !important;
	font-size: 16px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: solid 4px;
	border-color: #ebeff2;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	font-family: "Roboto";
}

div#DataTables_Table_0_wrapper.dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer {
	padding: 0 !important;
}

.datatable-custom .dataTables_filter {
	display: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	line-height: 16px;
}

@include medium {
	#wrapper.enlarged .topbar .topbar-left,
	.topbar .topbar-left {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 232px !important;
	}
}

@include small {
	.user-profile {
		display: none;
	}

	.side-menu {
		padding-top: 0;
	}
}

@include x-small {
	.side-menu {
		display: none;
	}

	.forced .side-menu {
		display: block;
	}
}
